{% extends 'bases/base.html' %}
{% load static breadcrumbs %}
{% block titulo %}Dashboard Administrador{% endblock %}

{% block main %}
<div class="d-flex" style="min-height: 100vh;">
    <button class="btn btn-dark d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar" style="border-radius: 0%;">
        <i class="fas fa-bars"></i>
    </button>
    {% include 'bases/_sidebar_usuario.html' %}
    <div class="container flex-grow-1" style="padding: 20px; padding-top: 40px;">
        <div id="notificaciones">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags and message.tags != 'error' %}{{ message.tags }}{% else %}danger{% endif %} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {% render_breadcrumbs breadcrumbs %}
        <h1 class="text-init text-center">Administrador</h1>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 justify-content-center">
            <!-- Tarjeta 1 -->
            <div class="col">
                <div class="card h-100">
                    <h6 class="mb-2 card-header">Usuarios Nuevos</h6>
                    <div class="card-body">
                        <h5 class="card-title">20 Solicitudes nuevas</h5>
                        <i class="fas fa-arrow-up me-1"></i>10.25%
                        <p class="card-text">Productos nuevos</p>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Últimos 7 días
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">Últimos 7 días</a></li>
                                <li><a class="dropdown-item" href="#">Últimos 30 días</a></li>
                                <li><a class="dropdown-item" href="#">Últimos 6 meses</a></li>
                                <li><a class="dropdown-item" href="#">Último año</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tarjeta 2 -->
            <div class="col">
                <div class="card h-100">
                    <h6 class="mb-2 card-header">Usuarios Nuevos</h6>
                    <div class="card-body">
                        <h5 class="card-title">20 Solicitudes nuevas</h5>
                        <i class="fas fa-arrow-up me-1"></i>10.25%
                        <p class="card-text">Productos nuevos</p>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Últimos 7 días
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">Últimos 7 días</a></li>
                                <li><a class="dropdown-item" href="#">Últimos 30 días</a></li>
                                <li><a class="dropdown-item" href="#">Últimos 6 meses</a></li>
                                <li><a class="dropdown-item" href="#">Último año</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tarjeta 3 -->
            <div class="col">
                <div class="card h-100">
                    <h6 class="mb-2 card-header">Usuarios Nuevos</h6>
                    <div class="card-body">
                        <h5 class="card-title">20 Solicitudes nuevas</h5>
                        <i class="fas fa-arrow-up me-1"></i>10.25%
                        <p class="card-text">Productos nuevos</p>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Últimos 7 días
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">Últimos 7 días</a></li>
                                <li><a class="dropdown-item" href="#">Últimos 30 días</a></li>
                                <li><a class="dropdown-item" href="#">Últimos 6 meses</a></li>
                                <li><a class="dropdown-item" href="#">Último año</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tarjeta 4 -->
            <div class="col">
                <div class="card h-100">
                    <h6 class="mb-2 card-header">Usuarios Nuevos</h6>
                    <div class="card-body">
                        <h5 class="card-title">20 Solicitudes nuevas</h5>
                        <i class="fas fa-arrow-up me-1"></i>10.25%
                        <p class="card-text">Productos nuevos</p>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Últimos 7 días
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">Últimos 7 días</a></li>
                                <li><a class="dropdown-item" href="#">Últimos 30 días</a></li>
                                <li><a class="dropdown-item" href="#">Últimos 6 meses</a></li>
                                <li><a class="dropdown-item" href="#">Último año</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="mt-5">
            <h1 class="text-center">Gráfica de Ventas</h1>
            <div class="card">
                <div class="card-body container-statistics">
                    <canvas class="w-100 statistics"></canvas>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}     