{% extends "bases/base.html" %}
{% load static %}
{% block main %}
<div class="container">
    <div class="m-5">
        <h2 class="text-tittle text-center">Actualizar Perfil</h2>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="nombre">Nombre Completo:</label>
        <input type="text" id="nombre" name="nombre"  class="form-control" value="{{ usuario.nombre_apellido }}" required><br>
    
        <label>Documento:</label>
        <input type="text" id="documento" name="documento" class="form-control" value="{{ usuario.documento }}" required> <br>
    
        <label for="contacto">Contacto:</label>
        <input type="text" id="contacto" name="contacto" class="form-control" value="{{ usuario.contacto }}" required><br>
    
        {% if direccion_principal %}
            <div class="mb-3 card p-3 border border-2 rounded-3">
                <label class="form-label">Dirección principal:</label>
                <div class="form-control-plaintext">
                    {{ direccion_principal.direccion }}, {{ direccion_principal.ciudad }}, {{ direccion_principal.estado }}, {{ direccion_principal.pais }}, {{ direccion_principal.codigo_postal }}
                </div>
                <a href="{% url 'direccion_usuario' %}" class="btn btn-link p-0">Gestionar direcciones</a>
            </div>
        {% endif %}
    
        <label for="imagen_perfil">Imagen de Perfil:</label>
        <input type="file" id="imagen_perfil" name="imagen_perfil"><br>
        {% if request.session.pista.rol == 2 %}
        <hr>
        <h3 class="text-tittle">Quieres vender?</h3><br>
            <span class="">Envia tu certificado estudiantil</span><br>
            <input type="file" id="certificado_sena" name="certificado_sena">
        {% endif %}
        <div class="d-grid gap-2 col-3 mx-auto mb-5">
            <button  class="btn btn-success btn-lg" type="submit">Actualizar</button>
            <a class="btn btn-danger btn-lg" href="{% url 'perfil_usuario' %}" > Cancelar</a>
        </div>

    </form>
</div>
{% endblock %}