{% load custom_filters %}
<ul class="nav flex-column" id="sidebarMenu">
    <!-- Ítem con submenú: Mi Cuenta -->
    {% if request.session.pista.rol == 1 %}
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'perfil_usuario' %}">
                    <i class="fas fa-user-circle me-2"></i> Mi Perfil
                </a>
            </li>
            <!-- Ítem con submenú: Mi Cuenta -->
            <li class="nav-item">
    
            <!-- Submenú colapsable -->
            <ul class="collapse list-unstyled" id="miCuentaCollapse">
                <li><a class="nav-link text-white ms-4" href="#">....</a></li>
                <li><a class="nav-link text-white ms-4" href="#">....</a></li>
                <li><a class="nav-link text-white ms-4" href="#">....</a></li>
            </ul>
            </li>
            
            <!-- Ítems sin submenú -->
    
            <li class="nav-item">
                <a class="nav-link text-white d-flex justify-content-between align-items-center"
                   data-bs-toggle="collapse" 
                   href="#configuracionCollapse" 
                   role="button" 
                   aria-expanded="false" 
                   aria-controls="configuracionCollapse">
                    <span><i class="fas fa-cog me-2"></i> Configuración </span>
                    <i class="fas fa-chevron-down"></i>
                </a>
                
                <!-- Submenú colapsable para Configuración -->
                <ul class="collapse list-unstyled" id="configuracionCollapse">
                    <li><a class="nav-link text-white ms-4" href="{% url 'backup' %}">
                        <i class="fas fa-database me-2"></i> Backup
                    </a></li>
                    <li><a class="nav-link text-white ms-4" href="{% url 'usuarios' %}">
                        <i class="fas fa-users-cog me-2"></i> Usuarios
                    </a></li>
                    <li><a class="nav-link text-white ms-4" href="{% url 'productos_admin' %}">
                        <i class="fas fa-box me-2"></i> Productos
                    </a></li>
                </ul>
            </li>
           
            <!-- Panel de Notificaciones Admin -->
            <li class="nav-item">
                <a class="nav-link text-white position-relative" href="{% url 'notificaciones_admin' %}">
                    <i class="fas fa-bell-slash me-2"></i> Panel Admin
                </a>
            </li>

            <!-- Ventas Generales (Solo Admin) -->
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'ordenes_vendedor' %}">
                    <i class="fas fa-chart-line me-2"></i> Ventas del Sistema
                </a>
            </li>
            
            <div class="logout-button">
                <a class="nav-link text-white" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt me-2"></i> Cerrar Sesión
                </a>
            </div>
        </ul>  

    {% else %} 
        
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'historial_compras_usuario' %}">
                <span><i class="fas fa-user me-2"></i>Compras</span>
                </a>
            </li>
            <!-- Ítem con submenú: Ventas -->
            {% if request.session.pista.rol == 3 %}
            <li class="nav-item">
                <a class="nav-link text-white d-flex justify-content-between align-items-center"
                data-bs-toggle="collapse" 
                href="#ventasCollapse" 
                role="button" 
                aria-expanded="false" 
                aria-controls="ventasCollapse">
                    <span><i class="fas fa-shopping-bag me-2"></i> Ventas</span>
                    <i class="fas fa-chevron-down"></i>
                </a>
                <ul class="collapse list-unstyled" id="ventasCollapse">
                    {% if request.session.pista.id|default:'' != '' %}
                        <li><a class="nav-link text-white ms-4" href="{% url 'productos_vendedor' request.session.pista.id %}">Publicaciones</a></li>
                    {% endif %}
                    <li><a class="nav-link text-white ms-4" href="{% url 'ordenes_vendedor' %}">Ordenes</a></li>
                    
                    
                </ul>
            </li>
            {% endif %}
            <!-- Ítems sin submenú -->
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'perfil_usuario' %}">
                    <i class="fas fa-user-circle me-2"></i> Mi Perfil
                </a>
            </li>
            {% if request.session.pista.rol == 2 %}
                <li class="nav-item">

                    <a class="nav-link text-white" href="{% url 'actualizar_perfil' %}">
                        <i class="fas fa-cog me-2"></i> Completar Perfil
                    </a>
                </li>
            {% endif %}
            
            <!-- Notificaciones -->
            <li class="nav-item">
                <a class="nav-link text-white position-relative" href="{% url 'listar_notificaciones' %}">
                    <i class="fas fa-bell me-2"></i> Mis Notificaciones
                </a>
            </li>

            <div class="logout-button">
                <a class="nav-link text-white" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt me-2"></i> Cerrar Sesión
                </a>
            </div>
    {% endif %}
</ul>
