{% load static humanize custom_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block titulo %}...{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">

</head>

<body>
  <header class="text-white">
    <nav class="nav_styles navbar navbar-expand-lg position-relative">
      <div class="container-fluid">
    
        <!-- Logo -->
        <a class="navbar-brand" href="{% url 'index' %}">
          <img src="{% static 'assets/canvas.png' %}" alt="Logo" width="60" height="48" class="d-inline-block align-text-top">
        </a>
    
        <!-- Botón para colapsar en móviles -->
        <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Caja colapsable -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          <!-- Menú izquierdo -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active fw-medium text-white" href="{% url 'index' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active fw-medium text-white" href="{% url 'lista_productos' %}">Tienda</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="categoriasDropdown" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Categorías
                </a>
                <ul class="dropdown-menu" aria-labelledby="categoriasDropdown">
                    {% for categoria in categorias %}
                        {% if categoria.0 != 0 %}
                            <li>
                                <a class="dropdown-item" href="{% url 'productos_por_categoria' categoria.0 %}">
                                    {{ categoria.1 }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active fw-medium text-white" href="{% url 'sobre_nosotros' %}">Sobre Nosotros</a>
            </li>
          </ul>
    
          <!-- Íconos de usuario -->
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link contact-button fw-medium text-white" href="{% url 'carrito' %}">
                <i class="fas fa-shopping-cart"></i>
              </a>
            </li>
            <li class="nav-item">
              {% if request.session.pista %}
              <div class="d-flex">
                <a class="nav-link contact-button fw-medium text-white iniciar-sesion-btn" href="{% url 'logout' %}">Cerrar sesión</a>
                <a class="nav-link contact-button fw-medium text-white iniciar-sesion-btn" href="{% url 'perfil_usuario' %}">
                  {% if request.session.pista.rol == 1 %}Admin{% else %}Mi Perfil{% endif %}
                </a>
              </div>
              {% else %}
                <a class="nav-link contact-button fw-medium text-white" href="{% url 'registrarse' %}">Regístrate</a>
              </li>
              <li class="nav-item iniciar-sesion-btn">
                <a class="nav-link contact-button fw-medium text-white" href="{% url 'login' %}">Inicie Sesión</a>
              {% endif %}
            </li>
          </ul>
        </div>
    
        <!-- Buscador centrado visualmente con posición absoluta -->
        <form class="position-absolute top-50 start-50 translate-middle d-flex" role="search" method="get" action="{% url 'buscar_productos' %}" >
        <input class="form-control" type="search" name="q" placeholder="Buscar productos..." aria-label="Search" style="min-width: 300px;">
        </form>
    
      </div>
    </nav>
        
  </header>
  
    <main>
      {% block main %} {% endblock %}
    </main>
    <footer class="bg-dark text-white pt-5 pb-4">
        <div class="container">
          <div class="row text-center text-md-start">
            <!-- Sección About -->
            <div class="col-12 col-md-4 col-lg-4 mb-4">
              <h6 class="text-uppercase font-weight-bold mb-3">About</h6>
              <p>
                En Tienda Sena, nos comprometemos a fomentar la creatividad y el emprendimiento estudiantil, logrando
                reconocimientos a nivel mundial.
              </p>
            </div>
            <!-- Sección Enlaces -->
            <div class="col-12 col-md-4 col-lg-2 mx-auto mb-4">
              <h6 class="text-uppercase font-weight-bold mb-3">Enlaces de interés</h6>
              <p><a href="#" class="text-white text-decoration-none">Tu cuenta</a></p>
              <p><a href="#" class="text-white text-decoration-none">Afíliate con nosotros</a></p>
              <p><a href="#" class="text-white text-decoration-none">Calificaciones</a></p>
              <p><a href="#" class="text-white text-decoration-none">Ayuda</a></p>
              {% if request.session.pista.rol == 1 %}
                <p><a href="{% url 'panel_admin' %}" class="text-white text-decoration-none">Admin</a></p>             
                {% endif %}
            </div>
            <!-- Sección Contacto -->
            <div class="col-12 col-md-4 col-lg-3 mb-4">
              <h6 class="text-uppercase font-weight-bold mb-3">Contacto</h6>
              <p><i class="fas fa-home me-2"></i>Calatrava - Complejo Sur</p>
              <p><i class="fas fa-envelope me-2"></i>Tienda_info@soy.sena.com</p>
              <p><i class="fas fa-phone me-2"></i>+01 234 567 88</p>
            </div>
          </div>
        </div>
        <div class="text-center py-4 border-top">
          © 2023 Tienda Sena. Todos los derechos reservados.
        </div>
    </footer>
    <script src="{% static 'app.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>

</body>

</html>
