{% extends "bases/base.html" %}
{% block main %}
<div class="container">
    <div id="notificaciones">
            {% if messages %}
            {% for message in messages %} 
            <div class="alert alert-{% if message.tags and message.tags != 'error' %}{{ message.tags}}{% else %}danger{% endif %} alert-dismissible fade show" role="alert"> {{ message}} <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>{% endfor %}{% endif %}
        </div>
    <h2>Solicitudes para ser Vendedor</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Certificado</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for s in solicitudes %}
            <tr>
                <td>{{ s.usuario.nombre_apellido }}</td>
                <td><a href="{{ s.certificado.url }}" target="_blank">Ver Certificado</a></td>
                <td>{{ s.fecha_solicitud }}</td>
                <td>
                    <a href="{% url 'aprobar_solicitud_vendedor' s.id %}" class="btn btn-success btn-sm">Aprobar</a>
                    <a href="{% url 'rechazar_solicitud_vendedor' s.id %}" class="btn btn-danger btn-sm">Rechazar</a>
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="4">No hay solicitudes pendientes.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}