{% extends 'bases/base.html' %}
{% load static breadcrumbs %}


{% block main %}

<div class="container">
    <div id="notificaciones">
  {% if messages %}
      {% for message in messages %} 
<div class="alert alert-{% if message.tags and message.tags != 'error' %}{{ message.tags}}{% else %}danger{% endif %} alert-dismissible fade show" role="alert"> {{ message}} <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>{% endfor %}{% endif %}

    {% if dato %}
        <h1>Actualizar Usuario {{ dato }}</h1>
    {% else %}
        <h1>Agregar Usuario</h1>
    {% endif %}

    <form action="#" method="post">
        {% csrf_token %}
        <label>Nombre Completo:</label>
        <input type="text" name="nombre" required="" class="form-control" value="{{ dato.nombre_apellido }}"/> <br>
        <label>Documento:</label>
        <input type="text" name="documento" required="" class="form-control" value="{{ dato.documento }}"/> <br>
        <label>Contacto:</label>
        <input type="number" name="contacto" required="" class="form-control" value="{{ dato.contacto }}"/> <br>
        <label>Correo:</label>
        <input type="email" name="correo" required="" class="form-control" value="{{ dato.correo }}"/> <br>
        <label>Contraseña:</label>
        <input type="password" name="password" required="" class="form-control" /> <br>
        <label>Validar Contraseña:</label>
        <input type="password" name="valid_password" required="" class="form-control" /> <br>
        <label>Rol:</label>
        <select name="rol"  class="form-select">
            <option value="1" {% if dato.rol == 1 %}selected{% endif %}>Administrador</option>
            <option value="2" {% if dato.rol == 2 %}selected{% endif %}>Cliente</option>
            <option value="3" {% if dato.rol == 3 %}selected{% endif %}>Vendedor</option>
        </select>
        <br>
        <label for="imagen_perfil" class="form-label">Foto de perfil</label>
        <input type="file" class="form-control" id="imagen_perfil" name="imagen_perfil"><br>
        <label>Direccion:</label>
        <input type="text" name="direccion" required="" class="form-control" value="{{ dato.direccion }}"/> <br>
        {% if dato %}
            <button type="submit" class="btn btn-info">Actualizar</button>
        {% else %}
            <button type="submit" class="btn btn-success">Guardar</button>
        {% endif %}
        
    </form>
</div>
{% endblock %}